.manual_pay_panel{
    padding: 20px;
}
.manual_pay_panel-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;    
}
.manual_pay_panel-body{
    
}
.manual_pay_panel-list{
    color: black;

    gap: 10px;
    display: flex;
    flex-direction: column;
}
.manual_pay_panel-list_item{
    gap: 5px;

    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffffd3;
    border-radius: 10px;

}
.manual_pay_panel-list_item_num{
    padding-right: 10px;

}
.manual_pay_panel-list_item_text{
    width: 100%;
}
.manual_pay_panel-list_item_pay_buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.manual_pay_panel-list_item_pay{
    border: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px 10px;
    border-radius: 10px;
    font-size: 22px;
    background-color: green;
}
.manual_pay_panel-list_item_pay_buttons .manual_pay_panel-list_item_pay:nth-child(1) {
    background-color: #ffffffd3;
    color: black;
    
}
.manual_pay_panel-list_item_done {
    color: rgb(18, 64, 18);
    font-weight: 600;
}