
/* Общие сбросы */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Стили для body */
html {
  background-color: rgb(11, 11, 11);
}
body {
  background-color: rgb(11, 11, 11);
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}
.background_shadow_drop{
  z-index: -999;
  position: absolute;
  right: 0;
  top: -100px;
  width: 10px;
  border-radius: 50%;
  height: 10px;
  background-color: rgb(236 229 67);
  box-shadow: -60px 140px 200px 80px rgb(236 229 67);
}

.app-wrapper{
  margin-bottom: 70px;
}

/* Контейнер приложения */
.app-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
}

/* Заголовки */
h1, h2, h3 {
  margin-bottom: 1rem;
  font-weight: 600;
}




/* Нижнее меню */
.bottom-nav {

  position: fixed;
  bottom: 10px;
  left: 30px;
  right: 30px;
  border-radius: 30px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);

  background-color: #181818;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.7rem 0;
  z-index: 1000;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
  text-decoration: none;
  font-size: 0.75rem;
  transition: color 0.2s ease;
}

.nav-link.active {
  color: #FFF001;
}

.nav-link:hover {
  color: #FFF001;
}

 
/* snanner nav */




/* Адаптив */
@media (max-width: 600px) {
  .app-container {
      padding: 0.5rem;
  }

  .navbar {
      flex-direction: column;
      padding: 0.5rem;
  }
}
