
/* Общие сбросы */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Стили для body */
body {
  padding: 10px;
  background-color: #f4f4f4;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}

/* Контейнер приложения */
.app-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
}

/* Заголовки */
h1, h2, h3 {
  margin-bottom: 1rem;
  font-weight: 600;
}

/* Кнопки */
button {
  transition: background-color 0.2s ease, transform 0.1s ease;
}

button:hover {
  background-color: #008ecc;
  transform: scale(1.02);
}

/* Нижнее меню */
.bottom-nav {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 30px;
  
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0;
  z-index: 1000;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
  text-decoration: none;
  font-size: 0.75rem;
  transition: color 0.2s ease;
}

.nav-link.active {
  color: #00aaff;
}

.nav-link:hover {
  color: #00aaff;
}





/* Адаптив */
@media (max-width: 600px) {
  .app-container {
      padding: 0.5rem;
  }

  .navbar {
      flex-direction: column;
      padding: 0.5rem;
  }
}
