.wallet-history_transfer{
    background-color: #131313;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}
.wallet-history_transfer_logo{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wallet-history_transfer_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;

}
.wallet-history_transfer_title p:nth-child(1) {
    font-size: 14px;
}
.wallet-history_transfer_title p:nth-child(2) {
    color: #969696;
    font-size: 12px;
}
.wallet-history_transfer_amount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.wallet-history_transfer_amount p {
    font-size: 12px;
    color: #969696;
}
.wallet-history_transfer_amount p:nth-child(1){
    font-weight: 500;
    font-size: 14px;
}
.wallet-history_transfer_amount p span{
    color: rgb(255, 255, 255);
}