.wallet-container_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 48px;
    padding: 20px;
}
.wallet-container_header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wallet-container_header_top_user {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wallet-container_header_top_user_avatar{
    background: linear-gradient(150deg, red 20%, blue);
    border-radius: 50%;
    width: 70px;
    height: 70px;

}
.wallet-container_header_top_user_name {
    margin-left: 14px;

    color: #ffffff;
}
.wallet-container_header_top_user_name p:nth-child(2) {
    font-size: 24px;
    font-weight: 600;

}
.wallet-container_header_top_user_name p:nth-child(1) {
    font-size: 16px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.3);
}
.wallet-container_header_top_settings {
    width: 50px;
    height: 50px;
    border: hsla(0, 0%, 0%, 0.1) solid 1px;
    border-radius: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 19);

}
.wallet-container_header_top_settings svg {
    color: #ffffff;

}


.wallet-container_header_balance{
    margin: 10px 0px 0px 15px;
}

.wallet-container_header_balance_top{
    padding-bottom: 10px;
    font-size: 20px;

}
.wallet-container_header_balance_top p {
    margin: 0;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    align-items: center;

}
.wallet-container_header_balance_top p > span{
    color: #ffffff;
}
.wallet-container_header_balance_top_plus 
{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 15px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 30);

}
.wallet-container_header_balance_bottom {
    margin-bottom: 10px;
    background-color:   rgb(236 229 67);
    border-radius: 20px;
    padding: 20px 20px 5px 20px;
}
.wallet-container_header_balance_bottom p:nth-child(1){
    color: #000000a1;
    font-size: 14px;
    line-height: 10px;
}
.wallet-container_header_balance_bottom p:nth-child(2){
    color: #000000;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}
.wallet-container_header_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wallet-container_header_buttons button{
    color: #ffffff;
    width:45%;
    outline: none;
    font-size: 14px;
    background-color: rgb(30 30 30);

    padding: 15px 25px;
    border: none;
    border-radius: 30px;
}
.wallet-container_header_button_send{
    margin-right: 8px;
}
.wallet-container_header_button_send svg {
    font-size: 30px;
}

.wallet-container_header_button_qr {
    height: 85px;
}
.wallet-container_header_button_qr svg {
    font-size: 30px;
}


.wallet-container_history{
    padding: 10px 20px 40px 20px;
    display: flex;
    flex-direction: column;
}
.wallet-container_history_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.wallet-container_history_title p:nth-child(2){
    color: #FFF001;
}
.wallet-container_main_history{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
